.section{
    display: flex;
    justify-content: space-between;
}
.block{
    margin: 10px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px 10px;
    border-radius: 7px;
    transition: 0.4s;
}
.block:hover{
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
    cursor: pointer;
}
.pageLaptops{
    display: flex;
    margin-left: 1%;
    margin-top: 8%;
}